body{
    background: linear-gradient( to right, brown, red);
    background-size: 100%;
}
.w3-bar-item{
    width: 100%;
    display: block;
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.w3-bar{
    width:100%;
    overflow:hidden;
    height: auto;
}
.w3-center .w3-bar{
    display:inline-block;
    width:auto
}
.w3-bar .w3-bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{
    position:static;
    float:left
}
.w3-bar .w3-button{
    white-space:normal; 
}
.w3-bar-block .w3-bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
}
.w3-bar-block.w3-center .w3-bar-item{
    text-align:center;
}
.w3-block{
    display:block;
    width:100%;
}
.w3-responsive{
    display:block;
    overflow-x:auto;
}
.escrita-glacial-h1-modificada-pelo-matheus{
    font-size: 23px;
}
/* fonte */

@font-face{
    src: url('GlacialIndifference-Regular.otf');
    font-family: GlacialIndifference-Regular;    
}
.glacial{
    font-family: GlacialIndifference-Regular;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.gradient{
    background: linear-gradient(45deg, #ff0000,#ff4646,orange,yellow);
    height: 100vh;
    width: 100vw;
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}
@keyframes colors{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.titulo-principal{
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}
.titulo-principal:after{
 content: '|';
 margin-left: 5px;
 opacity: 1;
 animation: pisca .7s infinite;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
body { overflow-x: hidden; }